@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.cursive{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.prose img {
    margin: 0 auto;
    border-radius: 5px;
}

.home-name{
    font-size: 150px;
}

.bg {
    width: 100%;
    height: calc(100vh - 102px);
}